<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora II
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Avaliação Formadora II</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-img src="/assets/image/rafael.jpeg" alt=""></ion-img>
      <ion-card-header>
        <ion-card-title>Rafael Godinho Coelho do Nascimento</ion-card-title>
        <ion-card-subtitle>ADS0302M</ion-card-subtitle>
      </ion-card-header>
      
    
      
    </ion-card>
    
  </div>
</ion-content>